$colorFont: #666;
$colorSecondary: #979797;
$background: #eaeaea;
$white: #fff;
$black: #000;
$icon: #ffc107;

$breakpointMobile: 576px;
$breakpointTablet: 768px;
$breakpointDesktop: 992px;
$breakpointLargeScreen: 1200px;